.jumbotron {
  padding-top: 5rem;
  background-color: #aaaa;
}
.jumbotron{
  background-image: url('img/1.jpg');
  background-attachment: fixed;
  background-size: cover;
  color: #eaeaea;
}
.jumbotron {
  
}

section {
  padding-top: 4rem;
}

